@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
:root{
    --Violet: hsl(257, 40%, 49%);
--SoftMagenta: hsl(300, 69%, 71%);
}
/*font-family: 'Open Sans', sans-serif;

*/
*{
    padding:0;
    margin:0;
    box-sizing:borrder-box;
    
}

body{
    min-height:100vh;
    background-image:url("images/bg-desktop.svg");
    background-color: var(--Violet);
    font-size:14px;
    font-family: 'Poppins', sans-serif;

}
header{
    width:300px;
    

}
header img{
    width:200px;
    margin-top:40px;
    margin-left:60px;
    
}
.container{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    width:1050px;
    margin-top:80px;
    margin-left:60px;
    
}
.container .content{
    
    margin-left:30px;
    margin-top:40px;
    align-items:center;
}
.container .content h1{
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
    align-items:Center;
}

.container .content p{
    color:#EEEDEB;
    font-weight:lighter;
    font-size:1rem;
    line-height:1.5;
    margin-top:20px;
    align-items:center;
}
.container .content #r1{
    margin-top:20px;
    width:150px;
    padding:10px;
    border-radius:50px;
    border:none;
    color:var(--Violet);
    font-family: 'Poppins', sans-serif;
}
.container .content #r1:hover{
    background-color:var(--SoftMagenta);
    color:white;
}
footer{
    width:50px;
   margin-left:1050px;
   display:flex;
   justify-content:space-between;

}
footer i{
    color:white;
   

}
footer i:hover{
    background-color:var(--SoftMagenta);

}

@media (max-width:375px)
{
    body{
        width:375px;
        align-items:center;
        background-image:url("images/bg-mobile.svg")
    }
    header img{
       width:100px;
    }
    .container{
        width:300px;
        display:grid;
    }
    .container img{
        width:250px;
    }
    .container .content{
        width:300px;
        margin-left:0;
    }
    .container .content p{
        width:250px;
    }
    .container .content #r1{
        margin-left:50px;
    }
    footer{
        margin-left:160px;
        margin-top:50px;
    }
}

